*{
    margin: 0;
    font-family: Arial;
    border: border-box;

}

.navbar{
    height: 60px;
    background-color:black;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav_logo{
     height: 50px;
     width:100px;

}
.logo{
    background-image: url("amazon_logo.png");
    background-size:contain ;
    height: 50px;
    width: 50%;
    margin-left:  10px;  
    
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
/**box2**/
.add-first{
    color:#cccccc;
    font-size: 0.85rem;
    
  

}
.add-sec{
    font-size: 1rem;
    margin-left: 3px;

    
}
.add-icon{
    display: flex;
    align-items: center;
       
}
.nav-search{
    display: flex;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;

}
.search-input{
    width:100%;
    font-size: 1rem;
    border: none;

}
.search-icon{
    width:45px;
    display:flex;
    justify-content: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: black;
    align-items: center;
}
span{
    font-size: 0.7rem;
}
.nav-second{
    font: size 0.85rem;
    font-weight: 700;
    
}
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font: weight 0.85rem; 
    font-weight: 700;
}
/**p{
    display: inline ;
}
.panel-deals{
    display: inline;
}**/
.panel{
    height:40px;
    background-color: #222f3d;
    display: flex;
    color:white;
    align-items: center;

}
.panel-ops p {
    display: inline;
    margin-left: 10px;
    
}
.panel-ops{
    width: 70%;
    font: size 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
    margin-left: 200px;
    
}
.hero-img{
    background-image: url("hero_img1_png.jpg");
    background-size: cover;
    height: 500px; ;
}
.hero-msg{
    height: 40px;
    background-color:black ;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;

}
.hero-msg a {
     color: blue;
    

}
.shop-section {
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box {
    border: 2px solid black;
    height: 300px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
}
.box1box{
    background-image: url("hero_img2.webp");
    height: 300px;
    width: 23%;
    background-size: cover;

}
.box2box{
    background-image: url("hero_img3_png.jpg");
    height: 300px;
    width: 23%;
    background-size: cover;
    align-items: center;
    justify-items: center;
    display: flex;
}
.box3box{
    background-image: url("hero_img4_png.jpg");
    height: 300px;
    width: 23%;
    background-size: cover;
    align-items: center;
}
.box4box{
    background-image: url("hero_img5_png.jpg");
    height: 300px;
    width: 23%;
    background-size: cover;
}
.shop-section2{
    display: flex;
   
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box5box{
    background-image: url("hero_img6_png.jpg");
    height: 300px;
    width: 23%;
    background-size: cover;
    align-items: center;
}
.box6box{
    background-image: url("hero_img7_png.jpg");
    height: 300px;
    width: 23%;
    background-size: cover;
    align-items: center;
}
.box7box{
    background-image: url("hero_img8_png.jpg");
    height: 300px;
    width: 23%;
    background-size: cover;
    align-items: center;
}
.box8box{
    background-image: url("hero_img9_png.jpg");
    height: 300px;
    width: 23%;
    background-size: cover;
    align-items: center;
}
.shop-section3{
    display: flex;
   
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box9box{
    background-image: url("hero_img10_png.jpg");
    height: 300px;
    width: 23%;
    background-size: cover;
    align-items: center;
}
.box10box{
    background-image: url("hero_img11_png.jpg");
    height: 300px;
    width: 23%;
    background-size: cover;
    align-items: center;
}
.box11box{
    background-image: url("hero_img12_png.jpg");
    height: 300px;
    width: 23%;
    background-size: cover;
    align-items: center;
}
.box12box{
    background-image: url("hero_img13_png.jpg");
    height: 300px;
    width: 23%;
    background-size: cover;
    align-items: center;
}
.shop-section4{
    display: flex;
   
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box13box{
    background-image: url("hero_img14_png.jpg");
    height: 300px;
    width: 23%;
    background-size: cover;
    align-items: center;
}
.box14box{
    background-image: url("hero_img15_png.jpg");
    height: 300px;
    width: 23%;
    background-size: cover;
    align-items: center;
}
.box15box{
    background-image: url("hero_img16_png.jpg");
    height: 300px;
    width: 23%;
    background-size: cover;
    align-items: center;
    
}
.box16box{
    background-image: url("hero_img17_png.jpg");
    height: 300px;
    width: 23%;
    background-size: cover;
    align-items: center;
}
.shop-section5{
    display: flex;
   
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box17box{
    background-image: url("hero_img18_png.jpg");
    height: 300px;
    width: 23%;
    background-size: cover;
    align-items: center;
}
.box18box{
    background-image: url("hero_img19_png.jpg");
    height: 300px;
    width: 23%;
    background-size: cover;
    align-items: center;
}
.box19box{
    background-image: url("hero_img20_png.jpg");
    height: 300px;
    width: 23%;
    background-size: cover;
    align-items: center;
}
.box20box{
    background-image: url("hero_img22_png.jpg");
    height: 300px;
    width: 23%;
    background-size: cover;
    align-items: center;

}
footer{
    margin-top: 15px;
    
}
.foot-panel{
    height: 50px;
    background-color: #37475a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;

}
ul a {
    display: block;
    background-color:#222f3d ;
    color: white;
    font-size: 0.85rem;
    margin-top: 10px;
}